#editorCanvas {
  color: $font-color;
  background-color: $theme-sub-bg-color !important;

  height: 100%;
  width: 100%;
}

.color-controls {
  .active {
    box-shadow:
      $theme-box-shadow-color 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.downloadItem {
  .v-btn,
  .v-sheet {
    box-shadow: $theme-box-shadow-color 0px 1px 4px !important;
  }
}
