/** Layout 相关 */
.layout {
    color: $font-color;
    background-color: $theme-sub-bg-color !important;
    height: 100vh;

    .navigation-bar {
        color: $font-color;
        background-color: $theme-bg-color !important;
        height: 5vh;
        display: flex;
        justify-content: center;
    }

    .app-main {
        color: $font-color;
        background-color: $theme-sub-bg-color !important;
        height: 95vh;
    }
}
