/** Layout 相关 */
.layout {
    color: $font-color;
    background-color: $theme-sub-bg-color !important;
    height: 100vh;

    .top-bar {
        color: $font-color;
        background-color: $theme-bg-color !important;
        height: 5vh;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $theme-box-shadow-color !important;
        z-index: 999;
    }

    .app-main {
        color: $font-color;
        background-color: $theme-sub-bg-color !important;
        height: 95vh;
    }

    .right-side-bar {
        color: $font-color;
        background-color: $theme-bg-color !important;
        top: 5vh !important;
        height: 95vh !important;
        z-index: 998 !important;
    }
}
