/** vuetify 相关 */

.v-field--focused {
    background-color: $input-focus-bg-color !important;
}

.side-bar {
    .tab-active {
        transition: all 0.3s;
        border: 0.25rem solid $border-color;
    }
}

.v-list {

}

