// THEME COLOR
$PrimaryColor-default: #00e500;

$SuccessColor-default: #34e56f;

$InfoColor-default: #1190ff;

$WarningColor-default: #ffd002;

$DangerColor-default: #ff6247;

// WHITE COLOR
$WhiteColor: #ffffff;
$DarkWhiteColor: #f5f6fa;

// BLACK COLOR
$BlackColor: #000000;
$LightBlackColor: #25272e;

// GREYCOLOR
$greyColor: #9e9e9e;
$LightgreyColor: #e9e9ed;
